@model Instituto.Models.Docente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.RolDenominacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.EstDenominacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
